header {
  text-align: center;
  color: lightgreen;
  font-size: 32px;
  margin-top: 50px;
}


main {
  display: flex;
  justify-content: space-evenly;
}

.card-pile {
margin-top: 50px;
height: 200px;
width: 120px;
border: 3px solid black;
background: slategrey;
}
.card-img {
  height: 200px;
  width: 120px;
}

.hand-1 {
  
}
